{% extends 'base.html' %}
{%load staticfiles %}
{% block content %}
<script src={% static 'angular.min.js' %}></script>
<script src={% static 'ranking/app.js' %}></script>
{% verbatim %}
<div class = "container">
	<div class="page-header">
        <h1> Rankings </h1>
    </div>
	<div ng-app="rankingCreation">
		<form novalidate name="rankingForm" class="form-horizontal" ng-controller="RankingController as rankingCtrl" ng-cloak ng-submit = "rankingCtrl.addRanking()">
			<div class="form-group">
				<div class="col-sm-5">
					<label class="text-center" for="rushToBeRanked"><h3>Rush</h3></label>
					<select id="rushToBeRanked" class="form-control " ng-model="rankingCtrl.ranking.rush" ng-options="rush.id as rush.first_name + ' ' + rush.last_name for rush in rankingCtrl.listOfRushes" ng-click="$event.stopPropogation()">
					</select>
				</div>

				<div class="col-sm-5">
					<label class="text-center" for="rankingNumber"><h3>Ranking(1-10)</h3></label>
					<select class="form-control" ng-model="rankingCtrl.ranking.rank" ng-options ="rank for rank in rankingCtrl.numberRange" id="rankingNumber" required></select>
				</div>
				<div class = "col-md-2">
					<input type = "submit" class="btn btn-primary btn-block" value="Rank!" ng-click="rankingCtrl.addRanking()" ng-disabled="!rankingForm.$valid" style="margin-top: 60px"/>
				</div>
			</div>
			<div class = "row" ng-repeat="rank in rankingCtrl.rankingList" ng-cloak>
				<div class = "col-xs-5">
					<h3>{{rank.rush.first_name}} {{rank.rush.last_name}}</h3>
				</div>
				<div class = "col-xs-5">
					<select class="form-control" ng-model="rank.rank" ng-options ="rank for rank in rankingCtrl.range()" ng-change="rankingCtrl.update(rank)" ng-cloak></select>
				</div>
				<div class="col-xs-2">
					<button class="form-control btn btn-primary " ng-click="rankingCtrl.remove(rank)">Remove</button>
				</div>
			</div>
		</form>
		<div ng-controller ="RankGeneratorController as RankCtrl">
			<table ng-show="RankCtrl.generatedList" class="table table-bordered" ng-cloak>
				<thead>
					<tr>
						<th>Rush Name</th>
						<th>Average Ranking</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="rank in RankCtrl.generatedList" ng-style="RankCtrl.determineColor(rank.rank)">
						<td>{{rank.rush.first_name}} {{rank.rush.last_name}}</td>
						<td>{{rank.rank}}</td>
					</tr>
				
				</tbody>
			</table>
				<button class="btn btn-primary" ng-click="RankCtrl.generateReport()">Generate Report
				</button>
		</div>
	</div>
</div>
{% endverbatim %}
{% endblock %}

