{% extends 'base.html' %}
{%load staticfiles %}
{% block content %}
<script src={% static 'angular.min.js' %}></script>
<script src={% static 'app.js' %}></script>
{% verbatim %}
<div class = "container-fluid">
	<div ng-app="rankingCreation">
		<form name="rankingForm" class="form-horizontal" ng-controller="RankingController as rankingCtrl" ng-cloak ng-submit = "rankingCtrl.addRanking()">
			<div class="form-group">
				<div class="col-xs-5">
					<select class="form-control " ng-model="rankingCtrl.ranking.rush" ng-options="rush.first_name for rush in rankingCtrl.listOfRushes">
					</select>
				</div>

				<div class="col-xs-5">
					<select class="form-control" ng-model="rankingCtrl.ranking.rank" ng-options ="rank for rank in rankingCtrl.rankList"></select>
				</div>
				<div class = "col-xs-2">
					<input type = "button" class="btn btn-block btn-primary" value="Rank!" ng-click="rankingCtrl.addRanking()"/>
				</div>
			</div>
				<div class = "row" ng-repeat="rank in rankingCtrl.rankingList">
					<div class = "col-xs-5">
						<h3>{{rank.rush.first_name}}</h3>
					</div>
					<div class = "col-xs-5">
						<select class="form-control" ng-model="rank.rank" ng-options ="rank for rank in rankingCtrl.range()"></select>
					</div>
				</div>
				<div class = "row">
					<div class = "col-md-2 ">
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
{% endverbatim %}
{% endblock %}

