<div class="row" ng-click="ctrl.editing = true; ctrl.editOpen(); $event.stopPropagation();" ng-cloak>
    <div ng-switch on="ctrl.editing">
        <p class="col-md-12" style="font-size: 1.5rem" ng-click="ctrl.editing = true; ctrl.editOpen()">{{::ctrl.ngModel.user.email}}</p>
        <div ng-switch-when="false">
            <p class="col-md-12" style="word-wrap: break-word; margin-left: 10px">{{::ctrl.ngModel.comment}}</p>
            
        </div>
        <div ng-switch-when="true">
            <div class="col-md-12">
                <textarea style="margin-bottom: 10px" class="form-control" ng-model="ctrl.comment" autofocus></textarea>
            </div>
            <div class="col-md-12">
                <!-- TODO: ng click should be a function on the controller-->
                <span><button class="btn btn-primary" ng-click="ctrl.ngModel.comment = ctrl.comment; ctrl.update({comment: ctrl.ngModel}); ctrl.editing = false; $event.stopPropagation();">Submit</button></span>
                <span><button class="btn btn-danger" ng-click="ctrl.comment = ctrl.ngModel.comment; ctrl.editing = false; $event.stopPropagation();">Cancel</button></span>
                <span>
                <button ng-click="ctrl.deleteComment({comment: ctrl.ngModel}); $event.stopPropagation()" class="btn btn-danger pull-right">Delete</button></span>
            </div>
        </div>
        <p class="col-md-12" ng-cloak>{{ctrl.ngModel.created_at | date:'MM/dd/yyyy @ h:mma'}}</p>
    </div>
</div>
<!--Should the borders be a bit longer???-->
