{% verbatim %}
<div ng-controller="PageController">
        <div class="modal-header">
            <h3 class="modal-title">Add A New Brother</h3>
        </div>
        <div class="modal-body">
            <label>Email: </label>
            <input type="email" ng-model="ModalCtrl.new_brother.email" class="form-control"/>
            <label>Password: </label>
            <input type="password" ng-model="ModalCtrl.new_brother.password" class="form-control"/>
            <label> Confirm Password: </label>
            <input type="password" ng-model="ModalCtrl.new_brother.confirm" class="form-control"/>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ModalCtrl.ok()">OK</button>
            <button class="btn btn-warning" ng-click="ModalCtrl.cancel()">Cancel</button>
        </div>
</div>
{% endverbatim %}