<div class="container" ng-app="chapterManagement" ng-controller="PageController as PageCtrl">
    <div class="row">
        <h1> Brothers </h1>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Rush Committee</th>
                    <th class="hidden-xs">Reset</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="brother in PageCtrl.brothers">
                    <td>{{brother.email}}</td>
                    <td ng-switch on="brother.is_rush_committee">
                        <input type="button" class="btn btn-primary" ng-model="brother.is_rush_committee" ng-switch-when="false" value="ADD" ng-click="PageCtrl.ChangeCommitteeStatus(brother)" />
                        <input type="button" class="btn btn-danger" ng-model="brother.is_rush_committee" ng-switch-when="true" value="REMOVE" ng-click="PageCtrl.ChangeCommitteeStatus(brother)" />
                    </td>
                    <td class="hidden-xs">
                        <input class="btn btn-danger" type="button" ng-click="PageCtrl.ResetPassword(brother)" ng-disabled="brother.reset" value="Reset Password" />
                    </td>
                    <td><input type="button" class="btn btn-danger" ng-click="PageCtrl.deleteUser(brother.id)" value="Delete"/>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-secondary" ng-click="open()">New Brother</button>
    </div>
    <script type="text/ng-template" id="/add_brother_modal.html">
        <div class="modal-header">
            <h3 class="modal-title">Add A New Brother</h3>
        </div>
        <div class="modal-body">
            <form ng-submit="ModalCtrl.ok()">
                <label>Email: </label>
                <input type="email" ng-model="ModalCtrl.new_brother.email" class="form-control" />
                <label>Password: </label>
                <input type="password" ng-model="ModalCtrl.new_brother.password" class="form-control" />
                <label> Confirm Password: </label>
                <input type="password" ng-model="ModalCtrl.new_brother.confirm" class="form-control" />
                <input type="submit" class="btn btn-primary" style="display: None" />
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" ng-click="ModalCtrl.ok()">OK</button>
            <button class="btn btn-warning" ng-click="ModalCtrl.cancel()">Cancel</button>
        </div>
</div>
</script>
</div>
