
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<html>
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	</head>
	
	<body>
		<div class = "container">
			<div class = "col-md-8 col-md-offset-2">
				<div class = "panel panel-info" style="margin-top:50px">

					<div class = "panel-heading">
						<div class="panel-title">Sign In</div>
					</div>

					<div class="panel-body">
						<form method="post" action = "{% url 'authentication:sign_in' %}" role="form">
							{% load crispy_forms_tags %}
							{% crispy form %}

							<button value="Login" class="btn btn-success">Login</button>
							
							<input type="hidden" name="next" value="{{next}}"/>
						</form>
					</div>

					<div class = "panel-footer">Don't have an account?  <a href="{%url 'authentication:sign_up' %}">Sign Up Now!</a></div>
				</div>
			</div>
		</div>
	</body>
</html>
