{% load staticfiles %}
{% block top %}{% endblock %}
<html>
<!--This loads in all jquery and jquery ui scripts and css files-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

<!--This loads in the bootstrap theme for tablesorter-->
<link rel = "stylesheet" href="{% static 'rushtracker/tablesorter/css/theme.bootstrap.css'%}"/>

<!--This loads in the tablesorter widget and app-->
<script type="text/javascript" src="{% static 'rushtracker/tablesorter/js/jquery.tablesorter.js' %}"></script>
<script type="text/javascript" src="{% static 'rushtracker/tablesorter/js/jquery.tablesorter.widgets.js' %}"></script>
<!-- should contain navbar and footer and have a block for content in it -->

<!-- This is our shamefull css page -->
<link rel="stylesheet" href="{% static 'shame.css' %}" />

<!-- this is an example bootstrap navbar, we should just work off of that -->
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/rushtracker/">Rush Manager</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class={% if "rushtracker" in request.path %} "active"{% endif %}><a href="/rushtracker/">Rush View</a></li>
        <li class={% if "events" in request.path %} "active"{% endif %}><a href="/events/new">Events <span class="sr-only">(current)</span></a></li>
        {% if perms.authentication.chapter_admin %}
          <li class={% if "chaptermanagement" in request.path %} "active"{% endif %}><a href="/chaptermanagement/">Chapter Management <span class="sr-only">(current)</span></a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %} 
          <li><a href ="{%url 'authentication:sign_out' %}">Sign Out</a></li>
        {% else %}
          <li><a href ="{%url 'authentication:sign_in' %}">Sign In</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% block content %}{% endblock %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
