{% load staticfiles %}
<!DOCTYPE html>
<html>
<!--This loads in all jquery and jquery ui scripts and css files-->

<head>
    <title>Rush Hound</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="{% static 'shame.css' %}" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
    <script src={% static 'core/factory.js' %}></script>
    <script src={% static 'core/mainController.js' %}></script>
    <script src={% static 'rushtracker/app.js' %}></script>
    <script src={% static 'comments/app.js' %}></script>
    <script src={% static 'events/app.js' %}></script>
    <script src={% static 'ng-img-crop.js' %}></script>
    <link rel="stylesheet" href={% static 'ng-img-crop.css' %}/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.13.2/select.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/9.1.2/ng-file-upload.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.13.2/select.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.0.2/css/hover.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-sanitize.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-resource.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <!-- Angular Material Javascript now available via Google CDN; version 0.11.2 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>
    <script src="{% static 'papaparse.js' %}"></script>
</head>
{% verbatim %}
<!-- DataTables -->
<!-- this is an example bootstrap navbar, we should just work off of that -->

<body ng-app="routerApp">
    <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" href="/#/">Rush Hound</a>
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/#/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="events.list">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>
        <form class="form-inline navbar-form pull-right">
            <input class="form-control" type="text" placeholder="Search">
            <button class="btn btn-success-outline" type="submit">Search</button>
        </form>
    </nav>
    <div ui-view></div>
</body>
{% endverbatim %}
<script>
var _currentUser = {
    'is_admin':{{perms.authentication.chapter_admin|lower}},
    'user': {{request.user.id}}
};
</script>

</html>
