<md-dialog>
    <md-dialog-content class="md-dialog-content">
        <h2 class="md-title">Add Recruitment Period</h2>
        <form>
            <md-input-container flex>
                <label>Name</label>
                <input>
            </md-input-container>
            <md-datepicker ng-model="ctrl.start_date" md-placeholder="Enter date">
            </md-datepicker>

            <md-datepicker ng-model="ctrl.end_date" md-placeholder="Enter date">
            </md-datepicker>
            
        </form>
    </md-dialog-content>
</md-dialog>
