<md-toolbar class="md-background">
    <div flex class="md-toolbar-tools">
        <h1>Home > Recruitment Period </h1>
        <div flex></div>
        <md-button class="md-icon-button">
            <md-icon>search</md-icon>
        </md-button>
        <div flex="4"></div>
        <md-button ng-click="ctrl.newRushPeriodDialog($event)" class="md-icon-button">
            <md-icon>add</md-icon>
        </md-button>
        <div flex="3"></div>
    </div>
</md-toolbar>
<md-content md-scroll-y flex>
    <md-list>
        <md-list-item class="md-3-line md-long-text" ng-repeat="period in ctrl.recPerList">
            <div class="md-list-item-text">
                <h3>{{period.name}}</h3>
                <p>{{period.start_date | date:'longDate'}} - {{period.end_date | date:'longDate'}}</p>
            </div>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
    <md-divider></md-divider>
</md-content>
