<table>

    {% if rush_comments %}
        {% for rush_comment in rush_comments %}

        <tr>
            <td>
                {{ rush_comment.user }}
            </td>
            <td>
                {{ rush_comment.comment }}
            </td>
        </tr>

        {% comment %}
        TODO: 
        -reskin

        -gonna need an ajax form here for submitting new comments

        -in the response well add some nifty js that will add the new comment to the table its gonna be dope
        {% endcomment %}

        {% endfor %}
    {% else %}
        no comments about this rush
    {% endif %}
</table>