<!--This loads in the bootstrap css ands javascript files-->
<!-- TODO: remove when we have a base template that imports everything -->
{% extends "base.html" %}
{% block content %}
<img src='{{MEDIA_URL}}{{profile_picture}}'>
<table class="table table-striped table-bordered">
    <tbody>

        {% if rush_comments %}
            {% for rush_comment in rush_comments %}

            <tr>
                <td class="span2">
                    {{ rush_comment.user.get_full_name }}
                </td>
                <td class="span10">
                    {{ rush_comment.comment }}
                </td>
            </tr>

            {% endfor %}
        {% else %}
            <h4 class="js-no-comment">no comments about this rush</h4>
        {% endif %}
    </tbody>

</table>

<div style="width:70%; margin:0 auto;">
    {% load crispy_forms_tags %}
    {% crispy CommentForm %}
</div>

<script>
$(document).ready(function(){
  var form = $('form');
  var submit = $('#submit-id-submit');
  var $noComment = $('.js-no-comment');

  form.on('submit', function(e) {
    // prevent default action
    e.preventDefault();
    // send ajax request
    $.ajax({
      url: '/comments/new/',
      type: 'POST',
      cache: false,
      data: form.serialize(), //form serizlize data
      beforeSend: function(){
        // change submit button value text and disabled it
        submit.val('Submitting...').attr('disabled', 'disabled');
      },
      success: function(data){
        // Append with fadeIn see http://stackoverflow.com/a/978731
        var item = $('<tr><td class="span2">' + data.username + '</td><td>' + data.comment + '</td></tr>').hide()
        $('table > tbody:last').append(item);
        item.fadeIn("slow");
        form.trigger('reset');
        submit.val('Submit Comment').removeAttr('disabled');
        // todo: if there isnt a $noComment then will js bug out?
        $noComment.hide();
      },
      error: function(e){
        alert(e);
      }
    });
  });
});
</script>

{% endblock %}