<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<div class = "container">
	<div class = "row">
		<div class = "col-md-12">
			<form method="post" action = "{% url 'rushtracker:sign_in' %}">
				{% load crispy_forms_tags %}
				{% crispy form %}
				<a href="{%url 'rushtracker:sign_up' %}" class="btn btn-primary">Sign Up Now!</a>
				<input type="hidden" name="next" value="{{next}}"/>
			</form>
		</div>
	</div>
</div>
