<md-dialog>
    <md-dialog-content class="md-dialog-content">
        <h2 class="md-title">Add PNM</h2>
        <form>
            <div layout="row">
                <md-input-container flex>
                    <label>First Name</label>
                    <input>
                </md-input-container>
                <md-input-container flex>
                    <label>Last Name</label>
                    <input>
                </md-input-container>
            </div>
                <md-autocomplete md-selected-item="ctrl.selectedItem" md-search-text="ctrl.searchText" md-min-length="0" md-items="item in ctrl.getMatch(ctrl.searchText)" md-item-text="item.name" md-floating-label="Recruitment Period">
                    <span md-highlight-text="ctrl.searchText">{{item.name}}</span>
                </md-autocomplete>
            </md-input-container>
        </form>
        {{ctrl.x}}
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-primary">Add PNM</md-button>
        <md-button ng-click="ctrl.close()" class="md-primary">Close</md-button>
    </md-dialog-actions>
</md-dialog>
