<md-dialog>
    <md-dialog-content class="md-dialog-content">
        <h2 class="md-title">Add PNM</h2>
        <form>
            <div layout="row">
                <md-input-container flex>
                    <label>First Name</label>
                    <input>
                </md-input-container>
                <md-input-container flex>
                    <label>Last Name</label>
                    <input>
                </md-input-container>
            </div>
                <md-autocomplete md-selected-item="ctrl.selectedItem" md-search-text="ctrl.searchText" md-items="item in ctrl.getMatches(ctrl.searchText)" md-item-text="item.name" md-floating-label="Recruitment Period">
                    <span md-highlight-text="searchText">{{item.display}}</span>
                </md-autocomplete>
            </md-input-container>
        </form>
    </md-dialog-content>
</md-dialog>
