{% extends 'base.html' %}
{% load staticfiles %}
{% block content%}
<!--
<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
<script src="{%static 'rushtracker/dropzone.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
-->
<div class="container">
	<div class = "row">
			<div class="col-md-4 col-md-offset-4">
	<label>Profile Picture, Drag File Here To Add</label>
	</div>
	</div>
	<div class ="row" id="drop-target">
		<div class="col-md-4 col-md-offset-4">
		<!--TODO: stop the little resizing bootstrap does it looks bad also toy with image size and offset and
		shrink/enlarge and center canvas-->
			<canvas id="myCanvas" style="border: 1px solid black"></canvas>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% load crispy_forms_tags %}
			{% crispy form %}
		</div>
	</div>
</div>


<script>
$(".datepicker").datepicker({});
</script>

<script src ="{% static 'rushtracker/dropoptions.js' %}"></script>
{% endblock %}