<md-toolbar class="md-background">
    <h1 class="md-toolbar-tools">Potential New Members</h1>
</md-toolbar>

<md-toolbar class="md-table-toolbar md-default">
  <div flex class="md-toolbar-tools">
    <span>Potential New Members</span>
    <div flex></div>
    <md-button class="md-icon-button" ng-click="ctrl.newRushDialog($event)">
        <md-icon>add</md-icon>
    </md-button>
    </div>
  </div>
</md-toolbar>

<md-table-container>
    <table md-table md-row-select ng-model="ctrl.selected">
        <thead md-head>
            <tr md-row>
                <th md-column><span>First Name</span></th>
                <th md-column><span>Last Name</span></th>
                <th md-column><span>Status</span></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr class="md-clickable" md-row md-select="rush" md-select-id="{{rush.first_name}}" ng-repeat="rush in ctrl.rushes" ng-click="ctrl.goDetail(rush.id)">
                <td md-cell>{{rush.first_name}}</td>
                <td md-cell>{{rush.last_name}}</td>
                <td md-cell></td>

            </tr>
        </tbody>
    </table>
</md-table-container>
