<div class="container">
    <div class="row col-md-12">
        <h1> Rushes </h1>
    </div>
    <div class="row">
        <div ng-repeat="rush in ctrl.rushes" class="col-md-3">
            <div class="card">
                <div class="card-header">
                    {{rush.first_name}} {{rush.last_name}}
                </div>
                <div class="card-block">
                    <img style="width: 100%; height: 250px" ng-src="{{rush.picture || 'https://rushmanagerbucket.s3.amazonaws.com/media/profile_picture/default_picture.png'}}"/>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a ui-sref="rush.detail({id: {{rush.id}}})" class="card-link">Details</a>
                    <a href="#" class=" pull-right card-link" ng-click="ctrl.update(rush.id)">Edit</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-md-12">
        <pagination total-items="ctrl.totalRushes" ng-model="ctrl.paginationControl" ng-change="ctrl.sort()" items-per-page="ctrl.perPage"></pagination>
    </div>
</div>