<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Recruits </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input class="form-control" placeholder="Search" style="margin-bottom: 10px;" />
            <button class="btn btn-primary form-control" style="margin-bottom: 10px" ng-click="ctrl.open()"> New Recruit </button>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="rush in ctrl.rushes" class="col-md-4">
            <div class="card">
                <div class="card-header">
                    {{rush.first_name}} {{rush.last_name}}
                </div>
                <div class="card-block" style="height: 500px">
                    <div ng-if="rush.pickingPicture">
                        <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea center-block">
                            <img-crop class="center-block" area-type="square" image="picFile  | ngfDataUrl" result-image="ctrl.croppedDataUrl" result-image-size = "300" ng-init="ctrl.croppedDataUrl=''">
                            </img-crop>
                        </div>
                    </div>
                    <div ng-if="!rush.pickingPicture">
                        <img style="width: 300px; height: 300px" class="center-block" ng-src="{{rush.picture || 'https://s3-us-west-2.amazonaws.com/rushmanagerbucket/media/profile_picture/default_picture.png'}}" />
                    </div>
                    <div ng-show="!rush.pickingPicture">
                        <button style="margin-top: 10px" class="btn btn-primary form-control" ngf-select ng-model="picFile" accept="*/*" ng-click="rush.pickingPicture=true" ngf-fix-orientation="false">Change Picture</button>
                    </div>

                    <div ng-show="rush.pickingPicture">
                        <button style="margin-top: 10px" class="btn btn-primary form-control" ng-click="ctrl.upload(ctrl.croppedDataUrl, rush)">Submit</button>
                        <button class="btn btn-danger form-control" style="margin-top: 5px" ng-click="rush.pickingPicture = false; picFile = ''">Cancel</button>
                    </div>
                    <div>{{croppedDataUrl}}</div>
                    <p class="card-text">Phone #: {{rush.phone_number || "n/a"}}</p>
                    <p class="card-text">Primary Contact: {{ctrl.getContact(rush.primary_contact).name || "N/A"}}</p>
                </div>
                <div class="card-footer"><a ui-sref="rush.detail({id: {{rush.id}}})" class="card-link" style="cursor: pointer">Details</a>
                    <a class=" pull-right card-link" ng-click="ctrl.update(rush.id)" style="cursor: pointer">Edit</a></div>
            </div>
        </div>
    </div>
    <div class="row col-md-12">
        <uib-pagination total-items="ctrl.totalRushes" ng-model="ctrl.UibPaginationControl" ng-change="ctrl.sort()" items-per-page="ctrl.perPage"></uib-pagination>
    </div>
</div>
