{% extends "base.html" %}
{% block content %}

<div class="container">
    <h1>{{ rush }}</h1>
    <div class="row">
    <div class="col-md-6">
        {% if rush.picture %}
            <!-- TODO: add max width to the picture -->
            <img class="rush-detail-img" src='{{ MEDIA_URL }}{{ rush.picture }}' />
        {% endif %}
    </div>
    <div class="col-md-6">
    <h3>INFO</h3>
        <ul>
            {% if rush.dorm %}<li><b>Dorm: </b>{{ rush.dorm }}</li>{% endif %}
            {% if rush.primary_contact %}<li><b>Primary Contact: </b>{{ rush.primary_contact.get_full_name }}</li>{% endif %}
            {% if rush.secondary_contact %}<li><b>Secondary Contact: </b>{{ rush.secondary_contact.get_full_name }}</li>{% endif %}
            {% if rush.rank %}<li><b>Number System: </b>{{ rush.rank }}</li>{% endif %}
            {% if rush.phone_number %}<li><b>Phone Number: </b>{{ rush.phone_number }}</li>{% endif %}

        </ul>
    <h3>ATTENDANCE ({{ rush_attendance.count }})</h3>
        <ul>
            {% if rush_attendance %}
                {% for event in rush_attendance %}
                   <li>{{ event.date }} | {{ event }}</li>
                {% endfor %}
            {% else %}
                <p>{{ rush }} has not been to any events yet</p>
            {% endif %}
        </ul>

    <h3>COMMENTS</h3>   
        <ul>
            {% if comments %}
                {% for comment in comments %}
                    <li>{{ comment.comment }}</li>
                {% endfor %}
                <a href="{% url 'comments:comments' rush.id %}">See All</a>
            {% else %}
                <p>no comments about {{ rush }}, to comment click <a href="{% url 'comments:comments' rush.id %}">Here</a></p>
            {% endif %}

        </ul>
                        
    </div>
</div>

{% endblock %}