<div class="container">
    <div style="font-size: 250%" class="row text-center page-header"><p><b>{{ctrl.rush.first_name}}'s Profile</b></p></div>
    <div class="row">
        <div class="col-md-4">
            {{ctrl.rush.first_name}} {{ctrl.rush.last_name}}
            <img src="{{ctrl.rush.picture}}">
        </div>
        <div class="col-md-8">
            <p>Primary Contact: {{ctrl.rush.primary_contact.name}}</p>
            <p>Phone Number: {{ctrl.rush.phone_number}}</p>
        </div>
    </div>
    <div class="row">
    	<div class="page-header" style="font-size: 250%">Comments </div>
    </div>
</div>
